#head1{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a8b3ed;
    background-color: #393237;
}
#head1:hover{
    margin-top: 5px;
    color: #758ff8;
    font-size: large;
    border: 2px solid rgb(141, 184, 40);
    background-color: #342f32;
}

#calculatorBody{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 252, 236);
}

#calculator{
    border: 7px solid rgb(91, 88, 110);
    width: 250px;
    margin-top: 15px;
    margin-bottom: 11px;
    background-color: #d8e1e3;
    border-radius: 15px;
}

#calculator:hover{
    border: 7px solid rgb(73, 66, 120);
    color: #7d7979;
    font-size: large;
    background-color: #cddde1;
}

#display{
    border-radius: 8px;
    margin: 20px 10px 10px;
    font-size: 30px;
    width: 220px;
    background-color: #ededed;
}
#display:hover{
    font-size: 33px;
    width: 225px;
    color: #141a32;
    background-color: #f3eff1; 
    border: 2px solid rgb(33, 33, 97);
}

.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button{
    height: 60px;
    width: 60px;
    margin: 4px;
    background-color: #8d8789;
    border-radius: 10px;
}
.button:hover{
    color: #e5e7ed;
    background-color: #766e73; 
    font-size: large;
    border: 2px solid rgb(33, 33, 97);
}